<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BuserAndOrderDao">
    <select id="selectBuserAndOrderBaseById" resultType="com.po.BuserAndOrderBaseTable">
     select obt.id,bt.bemail,obt.amount,obt.status,obt.orderdate from busertable bt,orderbasetable obt where bt.id=obt.busertable_id
   </select>
    <delete id="deleteOrderById" parameterType="Integer">
      delete from orderbasetable where id=#{id}
   </delete>
</mapper>